// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// Fitness Pass colors
$primary-purple: #837DFF;
$secondary-purple: #6927FF;
// category-colors
$primary-active-category: #F5564E;
$secondary-active-category: #FF8983;
$primary-calm-category: #32DBC6;
$secondary-calm-category: #89FBEC;
// greys
$black: #35302A;
$dark-grey: #4D453A;
$medium-grey: #726554;
$light-grey: #AC997F;
$white: #FFF;
