.container-authen {
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.connexion-bloc {
  border: 0.3px darkgrey solid;
  width: 500px;
  height: 200px;
  padding: 50px;
  margin: 50px;
  text-decoration: none;
}

.connexion-bloc a {
  text-decoration: none;
}

.connexion-title{
  font-size: 38px;
  border-bottom: 4px solid;
  margin-bottom: 15px;
}

.center {
  text-align: center;
  align-items: center;
  text-align: center;
  justify-items: center;
}
