.confirmation-booking {
  background-color: $white;
  color: $dark-grey;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.top-padding {
  margin-top: 15px;
}

.confirmation-booking-back {
  color: #ECECEC;
  position: absolute;
  top: 10px;
  right: 25px;
  font-weight: 540;
  font-size: 20px;
  text-decoration: none;
}

.confirmation-booking-back a{
  text-decoration: none;
}

.confirmation-date-info {
  margin: 2px 2px;
  display: flex;
  justify-content: space-between;
  border-top: 0.2px solid #ECECEC;
  border-bottom: 0.2px solid #ECECEC;
  padding: 15px 6px;
  width: 100%;
  padding-bottom: 5px;
}

.confirmation-location-info {
  text-align: center;
  align-items:center;
}

#cont {
  text-align: center;
}
