.confirmation{
  background-color: black;
  color: #ECECEC;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.confirmation-back {
  color: #ECECEC;
  position: absolute;
  top: 10px;
  right: 25px;
  font-weight: 540;
  font-size: 20px;
}

.confirmation-back a {
  text-decoration: none;
  color: #ECECEC;
}

.confirmation-ok a {
  text-decoration: none;
  color: #ECECEC;
}
