// Specific CSS for your home-page
#home-form {
  text-decoration: none;
  text-align: center;
  font-family: 'Fira Sans', 'Helvetica', sans-serif;
  font-size: 25px;
  background-color: #fff;
}

.form-select {
  color: #711EC4;
  font-weight: 600;
}

.tab-group li {
  text-decoration: none;
  background-color-color: #711EC4;
  color: #FFF;
}
