<div class="background-validation large-margin-top text-center">
  <div class="session-ok">
    <span id="banner-typed-text"></span>
  </div>

  <div class="body-validation">
    <div class="text-center medium-margin-top">
      <p> Bon cours <%=  current_user.first_name %> !</p>
      <%= image_tag "velo.gif", class: "img-responsive" %>
    </div>
  </div>
</div>

<script type = "text/javascript">

            function Redirect() {
               window.location = "/activities";
            }
            setTimeout('Redirect()', 10000);

      </script>
   </head>
<script type="text/javascript" src="/../../../javascript/plugins/validation.js"></script>
