.bottom-padding {
  padding: 0px 0 50px 0;
}

.bottom-padding-show {
  padding: 0px 0 60px 0;
}

.bottom-padding-booking {
  padding: 0px 0 80px 0;
}

.large-bottom-padding {
  padding-bottom: 260px;
}

.small-padding {
  padding-bottom: 8px;
}

.small-margin-top {
  margin-top: 2px;
}

.small-margin-bottom {
  margin-bottom: 10px;
}

.padding-right {
  padding-right: 6px;
}

.large-margin-top {
  margin-top: 40px;
}

.medium-margin-top {
  margin-top: 15px;
}
