<form id="home-filter">

  <div>
    <p>Je recherche</p>
    <select>
      <option selected>
        toutes les activités
      </option>
      <option value="cardio">
        du cardio
      </option>
      <option value="renforcement">
        du reforcement
      </option>
      <option value="artsmartiaux">
        des arts martiaux
      </option>
      <option value="mind&boby">
        du Mind & Body
      </option>
      <option value="dance">
        de la dance
      </option>
    </select>
  </div>

  <div>
    <select>
      <option selected>
        aujourd'hui
      </option>
    </select>
  </div>

  <div>
    <p>dans les environs de</p>
    <select>
      <option  selected></option>
      <option value="Lausanne">Lausane</option>
    </select>
  </div>

  <div>
    <p>à partir de</p>
    <select>
      <option selected>maintenant</option>
    </select>
  </div>
  <div class="btn-filter">
    <button type="submit">voir les résultats</button>
  </div>

</form>
