<div id="cont" data-pct=" <%= @user.credits_amount %> crédits restants">
  <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
    <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
  </svg>
</div>


<div class="small-padding"> Acheter des crédits </div>
<div class="credits-cost small-padding">
  <div class="offer">
    <div class="price-credits">
      <div class="price">100 CHF</div>
      <div class="credits">10 <%= image_tag("coin-icn.svg", height: 15, width: 15) %></div>
    </div>
    <div class="alldesc">
      <div class="desc">
        <div class="offertitle"> Formule basique</div>
        <div class="details">Vous bénéficiez de 10 crédits, soit l'équivalent de 3 à 6 cours</div>
      </div>
      <div class="go-to-order"><i class="far fa-arrow-alt-circle-right"></i>
      </div>
    </div>
  </div>
  <div class="offer">
    <div class="price-credits">
      <div class="price">200 CHF</div>
      <div class="credits">22 <%= image_tag("coin-icn.svg", height: 15, width: 15) %></div>
    </div>
    <div class="alldesc">
      <div class="desc">
        <div class="offertitle"> Formule medium</div>
        <div class="details">Vous bénéficiez de 22 crédits, soit l'équivalent de 8 à 15 cours</div>
      </div>
      <div class="go-to-order"><i class="far fa-arrow-alt-circle-right"></i>
      </div>
    </div>
  </div>
  <div class="offer">
    <div class="price-credits">
      <div class="price">300 CHF</div>
      <div class="credits">34 <%= image_tag("coin-icn.svg", height: 15, width: 15) %></div>
    </div>
      <div class="alldesc">
        <div class="desc">
          <div class="offertitle"> Formule premium</div>
          <div class="details">Vous bénéficiez de 34 crédits, soit l'équivalent de 12 à 20 cours</div>
        </div>
        <div class="go-to-order"><i class="far fa-arrow-alt-circle-right"></i>
        </div>
      </div>
  </div>
</div>
