
<div class='container-authen text-center'>
  <div class='row justify-content-center'>
    <div class="col-12 col-lg-6">
      <div class='connexion-bloc'>
        <div class='connexion-title'>
          <%=link_to 'Connexion membre ▸', new_user_session_path %>
        </div>
        Parcourez et réservez vos cours, consulter votre historique et bien plus encore ✨
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class='connexion-bloc'>
        <div class='connexion-title'>
          <%=link_to 'Connexion coach ▸',new_coach_session_path  %>
        </div>
        Gérer toutes les informations relatives à vos clients, vos cours et séances 🔒
      </div>
    </div>
    <div class="col-12">

        <div>Vous n'avez pas encore de compte ?</div>
          <br>
        <div class="action-button">Inscrivez-vous</div>

    </div>
  </div>
</div>
