
<div class='container'>
  <div class='row'>
    <div class='col-sm-4 col-lg-1'>
    <div class='connexion'>
  <%= link_to 'Connexion membre ▸', new_user_session_path %>
  </div>

  Gérer toutes les informations relatives à vos cours et séances
</div>
</div>

<div class='row'>
   <div class='connexion'>
<%= link_to 'Connexion coach ▸',new_coach_session_path  %>
  </div>
  Booker vos cours, consulter votre historique et bien plus encore

</div>
</div>
