.action-button {
  background: $secondary-purple;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  padding: 10px 0 10px 0;
  color: $white;
  // font-weight: bold;
  padding-bottom: 5px;
}

.action-button a {
  text-decoration: none;
}

.navbar-activities-show {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
  height: 50px;
  padding: 0px 10px;
  width: 100%;
  margin-bottom: 5px;
  color: white;
  span {
    color: $secondary-purple;
  }
}

/* Logo */
.navbar-activities-show-brand img {
  height: 30px;
}

/* Right section */

/* Basic navbar-activities-show item */
.navbar-activities-show-item {
  cursor: pointer;
  padding: 0 20px;
}

/* navbar-activities-show link */
.navbar-activities-show-link {
  color: $primary-purple;
  font-size: 14px;
}
.navbar-activities-show-link:hover {
  color: $white;
  text-decoration: none;
  font-weight: bolder;
}

.booking-go {
  text-align: center;
  text-decoration: none;
  color: white;
}

.booking-now {
  text-align: center;
}
.booking-go a {
  text-decoration: none;
  color: white;
}

.arrow {
  text-decoration: none;
  color: white;
}
.booking-cred {
  font-size: 13px;
}
