.card-course-head{
  text-align: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  img {
    background-size: cover;
    width: 100%;
  }
}

.card-course {
  text-align: center;
  position:relative;
  color: #606060;
}

.card-course-coach{
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
}

.card-course-category{
  position: absolute;
  top: 3px;
  left: 3px;
}

.card-course-hour {
  display:flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.card-course-infos {
  text-align: justify;
  background-color: #deddff;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px 10px;
}

.card-course-desc {
  text-align: justify;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  p {
    font-weight: 300;
  }
}

.card-course-bas {
  text-align: justify;
}
.card-course-icon {
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-course-location{

  padding: 10px 10px;
}
