.card-course {
  position:relative;
}

.card-course-head{
  text-align: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.card-course-coach{
  position: absolute;
  top: 220px;
  left: 10px;
  color: white;
}

.card-course-hour {
  display:flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.card-course-infos {
  text-align: justify;
  background-color: lightgrey;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 10px;
}

.card-course-desc {
  text-align: justify;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
}

.card-course-bas {
  text-align: justify;
}
.card-course-icon {
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-course-location{

  padding: 10px 10px;
}
