.illustration {
  text-align: center;
}

.home-filter {
  height: calc(100vh - 70px);
  text-align: center;
  font-family: 'Fira Sans', 'Helvetica', sans-serif;
  font-size: 25px;
  background-color: transparent;
  color: $secondary-purple;
  p {
    color: $medium-grey;
    margin-top:50px;
  }
}

.date-filter {
}

.location-filter {
}

.time-filter {
}

.btn-filter {
  button {
    height: 50px;
    width: 100%;
    margin-top: 70px;
    font-size: 25px;
    color: $white;
    text-decoration: none;
    border: none;
    background-color: $secondary-purple;
  }
}
