#home-filter {
  height: calc(100vh - 70px);
  text-align: center;
  color: $black;
  font-family: 'Fira Sans', 'Helvetica', sans-serif;
  font-size: 25px;
  background-color: transparent;
  options_for_select {
    text-decoration: none;
    color: $secondary-purple;;
  }
}

.btn-filter {
  button {
    height: 70px;
    width: 100%;
    margin-top: 70px;
    font-size: 25px;
    color: $off-white;
    text-decoration: none;
    border: none;
    background-color: $secondary-purple;
  }
}
