/* Main navbar */
.navbar {
  background: $primary-purple;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 15px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 0;
}

/* Logo */
.navbar-brand img {
  height: 18px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: $secondary-purple;
  font-size: 14px;
}
.navbar-link:hover {
  color: $off-white;
  text-decoration: none;
}
