/* Main navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: $primary-purple;
  transition: all 0.3s ease;
  height: 30px;
  padding: 0px 10px;
  width: 100%;
  span {
    color: $secondary-purple;
  }
}

/* Logo */
.navbar-brand img {
  height: 30px;
}

/* Right section */

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: $secondary-purple;
  font-size: 14px;
}
.navbar-link:hover {
  color: $white;
  text-decoration: none;
  font-weight: bolder;
}
